api/src/com/owd/test/web/api/xml/OWD_TEST_INVENTORY_SETCOUNT_REQUEST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OWD_API_REQUEST" type="OWD_API_REQUESTType"/>
  <xs:complexType name="OWD_TEST_INVENTORY_SETCOUNT_REQUESTType">
    <xs:sequence>
      <xs:element type="xs:string" name="SKU"/>
      <xs:element type="xs:string" name="TYPE"/>
      <xs:element type="xs:string" name="VALUE"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OWD_API_REQUESTType">
    <xs:sequence>
      <xs:element type="OWD_TEST_INVENTORY_SETCOUNT_REQUESTType" name="OWD_TEST_INVENTORY_SETCOUNT_REQUEST"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="api_version"/>
    <xs:attribute type="xs:string" name="client_authorization"/>
    <xs:attribute type="xs:string" name="client_id"/>
    <xs:attribute type="xs:string" name="testing"/>
  </xs:complexType>
</xs:schema>