jobs/src/com/owd/jobs/jobobjects/commercehub/invoicing/HubXMLInvoice.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by wwood (COMMERCE HUB) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="InvoiceMessageBatch">
		<xs:annotation>
			<xs:documentation>The InvoiceMessageBatch element is the root element of the XML document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="partnerID">
					<xs:annotation>
						<xs:documentation>ID assigned by CommerceHub for the party submitting this batch of messages.  Contact CommerceHub to find out what value you should be including in this element.</xs:documentation>
					</xs:annotation>
					<xs:complexType mixed="true">
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="name" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>Name of the business party sending the message</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="roleType" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>Role type (i.e. ‘vendor’) of partner sending this document</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="hubInvoice" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The hubInvoice element is used to wrap the details of each Invoice message.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="participatingParty" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Partner Id of a party involved in the business relationship.

On documents inbound to Hub the party to whom the message is directed must be identified.</xs:documentation>
								</xs:annotation>
								<xs:complexType mixed="true">
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="name" type="xs:string" use="required">
												<xs:annotation>
													<xs:documentation>Name of the participatingParty</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="roleType" default="merchant">
												<xs:annotation>
													<xs:documentation>Role (i.e. ‘merchant’) of the party in the business relationship</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="merchant"/>
														<xs:enumeration value="vendor"/>
														<xs:enumeration value="shipper"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:attribute name="participationCode" default="To:">
												<xs:annotation>
													<xs:documentation>E-mail type code (e.g. 'To:', 'From:', 'Cc:')

Indicates party’s participation in this message exchange.

On documents inbound to Hub, the 'To:' party must be identified.  The 'From:' party need not be specified as a participating party – it is assumed to be the partner identified in the partnerID element above.  </xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="Cc:"/>
														<xs:enumeration value="To:"/>
														<xs:enumeration value="From:"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="partnerTrxID" type="xs:string">
								<xs:annotation>
									<xs:documentation>Invoice Number - Vendor's ID for this transaction in its A/R application</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="partnerTrxDate" type="xs:string">
								<xs:annotation>
									<xs:documentation>Invoice Date - aging start date in vendor's A/R application</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="poNumber" type="xs:string">
								<xs:annotation>
									<xs:documentation>Merchant assigned PO number.  Invoice is requesting payment for fulfillment activity related to this PO.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="trxShipping" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Shipping charges (exclusive of shipping charges reported at line level)

This amount should be included in trxBalanceDue.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="trxHandling" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Handling charges (exclusive of handling charges reported at line level)

This amount should be included in trxBalanceDue.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="trxTax" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Tax (exclusive of tax reported at line level)
This amount should be included in trxBalanceDue.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="trxCredits" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Credits (exclusive of credits reported at line level)

This amount should be subtracted from trxBalanceDue.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="trxBalanceDue" type="xs:string">
								<xs:annotation>
									<xs:documentation>Amount being invoiced This field will contain the balance due for the transaction.  This reflects the amount of the A/R entry in the submitter’s accounting system.  It should include all charges for merchandise, shipping, handling, miscellaneous, and tax and should be net of the pre-invoice credit amount.  It should NOT reflect the discount available amount because the submitter cannot know whether the Invoicee will meet the terms to take the payment discount</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="trxData" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The trxData element is used to wrap less commonly used header level elements  (e.g. supporting 'breakouts' of monetary amounts, references to transactions in other applications, FLSA compliance indicator).</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="creditBreakout" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Breakout element for credits.  Content of the element represents a sub-component of the trxCredits element.   This element also carries attributes that can be used to characterize the credit sub-component.

The collection of breakout elements should sum to match the amount in the trxCredits element that is a direct child of hubInvoice.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="discountBreakout" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Use to provide payment terms and details regarding payment related discount opportunities.  The attributes of this element stipulate the discount calculation and qualifying factors that are in effect.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="miscChargeBreakout" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Breakout element for miscellaneous charges.   Content of the element represents a sub-component of the amount in the trxMiscCharges element.  This element also carries attributes that can be used to describe the miscellaneous charge sub-component.

The collection of breakout elements should sum to match the amount in the trxMiscCharges element that is a direct child of hubInvoice.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="hubAction" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The hubAction element is used to wrap the details of each Invoice item against a line item of an Order.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="action" default="v_invoice">
											<xs:annotation>
												<xs:documentation>Required - 'v_invoice'</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="v_invoice"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="merchantLineNumber" type="xs:string">
											<xs:annotation>
												<xs:documentation>Lineitem number assigned by merchant to the PO lineitem being confirmed.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="trxQty" type="xs:string">
											<xs:annotation>
												<xs:documentation>The quantity being invoiced. This quantity is subject to validation to make sure that the cumulative count of items invoiced is not in excess of the quantity that was fulfilled.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="trxUnitCost" type="xs:string">
											<xs:annotation>
												<xs:documentation>An explicit decimal point and no more than four decimal places should be reported.  No $ should be included in this element</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CARBformaldehydeComplianceCode" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Numeric code indicating compliance level for a product according to standards set by CARB:
2-Phase 2 Compliant
5-TSCA Title VI Compliant</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="invoiceDetailLink">
											<xs:annotation>
												<xs:documentation>Link to an Invoice-to and/or Remit-to name/address block if required by merchant as part of an Invoice. </xs:documentation>
											</xs:annotation>
											<xs:complexType mixed="true">
												<xs:attribute name="invoiceDetailID" type="xs:IDREF" use="required">
													<xs:annotation>
														<xs:documentation>The value of this IDREF attribute must match the ID value in the invoiceDetail element at the end of the message.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="packageDetailLink" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Link to one of the packageDetail elements that come at the end of the message.  

This element should only be used if it is necessary to repeat package level details, that were reported at the time a Confirm message was sent, for the items that are now being invoiced (see ConfirmMessageBatch schema for explanation of how 'overboxing' or 'multi-package' situations are reported).</xs:documentation>
											</xs:annotation>
											<xs:complexType mixed="true">
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="packageDetailID" type="xs:IDREF" use="required">
															<xs:annotation>
																<xs:documentation>The value of this IDREF attribute must match the ID value in one of the packageDetail elements at the end of the message.  </xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="invoiceDetail" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Additional information required by some merchants when invoicing.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="remitTo">
											<xs:annotation>
												<xs:documentation>The entity to be paid.  Often used to convey an account number for the entity in the merchant's A/P system.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="personPlaceID" type="xs:IDREF" use="required">
													<xs:annotation>
														<xs:documentation>Link to personPlace that represents the remit-to party.  The value of this IDREF attribute must match the ID value in one of the personPlace elements at the end of the message.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="invoiceDetailID" type="xs:ID" use="required">
										<xs:annotation>
											<xs:documentation>ID for an invoiceDetail element.  The value of this ID attribute must uniquely identify the invoiceDetail element within the entire XML document.  Will be referenced by the invoiceDetailLink element to associate this element with message line(s).  Must begin with a letter and may be followed by any number of letters, digits, hyphens, underscores or periods.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="packageDetail" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>packageDetail elements are used to describe the packages in which items were shipped.

This element is only needed if package level details, that were reported at the time a Confirm message was sent, are being repeated for the items that are now being invoiced

If this element is used, the pkgQty, shipDate, ship method (serviceLevel1) and trackingNumber elements must match the values that were recorded from the Confirm message (i.e. the shipping record and packaging configuration cannot be changed as part of an Invoice).</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="shipDate" type="xs:string">
											<xs:annotation>
												<xs:documentation>Date package was shipped.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="serviceLevel1" type="xs:string">
											<xs:annotation>
												<xs:documentation>Code for ship method</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="trackingNumber" type="xs:string">
											<xs:annotation>
												<xs:documentation>Delivery agent’s tracking number for this package.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="packageDetailID" type="xs:ID" use="required">
										<xs:annotation>
											<xs:documentation>ID for a packageDetail element.  The value of this ID attribute must uniquely identify the packageDetail element within the entire XML document.  Must begin with a letter and may be followed by any number of letters, digits, hyphens, underscores or periods.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="personPlace" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Name / address block for invoice-to, remit-to or ship-to information.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="partnerPersonPlaceId" type="xs:string">
											<xs:annotation>
												<xs:documentation>Id for this entity assigned by the partner who maintains the data.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="personPlaceID" type="xs:ID" use="required">
										<xs:annotation>
											<xs:documentation>ID for a personPlace element.  The value of this ID attribute must uniquely identify the personPlace element within the entire XML document. Will be referenced by the invoice-to, remit-to and shipTo elements to establish a link to the person/place particulars for these entities. ID tokens must begin with a letter and may be followed by any number of letters, digits, hyphens, underscores or periods.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="messageCount" type="xs:string">
					<xs:annotation>
						<xs:documentation>The messageCount element will contain a count of hubInvoice elements (Invoice messages) included in the InvoiceMessageBatch</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--Breakout elements are used to provide supporting detail for a monetary amount-->
	<xs:element name="handlingBreakout">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="handlingType" type="xs:string" use="required"/>
					<xs:attribute name="currencyUnit" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="creditBreakout">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="creditType" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="taxBreakout">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="taxType" type="xs:string" use="required"/>
					<xs:attribute name="currencyUnit" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="discountBreakout">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="discTypeCode">
						<xs:annotation>
							<xs:documentation>Code for type of discount expected by Retailer</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="01"/>
								<xs:enumeration value="09"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="discDateCode">
						<xs:annotation>
							<xs:documentation>Code for type of date qualification for discount</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="2"/>
								<xs:enumeration value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="discPercent" type="xs:string"/>
					<xs:attribute name="discDaysDue" type="xs:string"/>
					<xs:attribute name="netDaysDue" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="miscChargeBreakout">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="alwChgIndicator" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>This attribute will contain a code "C" indicating this is a charge.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="chargeType" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>Code representing charge or allowance</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
