wms/src/com/owd/dc/packing/beans/Lyft/lyftReturnLookup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lyftReturnLookup" type="lyftReturnLookupType"/>
  <xs:complexType name="lyftReturnLookupType">
    <xs:sequence>
      <xs:element type="xs:string" name="labelUrl"/>
      <xs:element type="xs:string" name="barcode"/>
      <xs:element type="xs:string" name="error"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>