jobs/src/test/resources/HubXML JCPenney Fulfillment Confirmation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Jim Janczykowski (COMMERCE HUB) -->
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="ConfirmMessageBatch">
		<xs:annotation>
			<xs:documentation>The ConfirmMessageBatch element is the root element of the XML document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="partnerID"/>
				<xs:element ref="hubConfirm" maxOccurs="unbounded"/>
				<xs:element ref="messageCount"/>
			</xs:sequence>
			<xs:attribute name="type" use="optional">
				<xs:annotation>
					<xs:documentation>This attribute contains a value assigned by the party sending the message that identifies the types of confirmations contained in the transaction.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="batchNumber" use="optional">
				<xs:annotation>
					<xs:documentation>This attribute contains a value assigned by the party sending the message that can be used to identify the transaction as a whole.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="hubConfirm">
		<xs:annotation>
			<xs:documentation>This element is used to wrap the details of each fulfillment confirmation message.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="participatingParty"/>
				<xs:element ref="partnerTrxID"/>
				<xs:element ref="partnerTrxDate"/>
				<xs:element ref="poNumber"/>
				<xs:element ref="trxShipping" minOccurs="0"/>
				<xs:element ref="trxBalanceDue" minOccurs="0"/>
				<xs:element ref="trxData" minOccurs="0"/>
				<xs:element ref="hubAction" maxOccurs="unbounded"/>
				<xs:element ref="packageDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="transactionID">
				<xs:annotation>
					<xs:documentation>This attribute will contain a transaction ID assigned by the party sending the hubConfirm.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="trxData">
		<xs:annotation>
			<xs:documentation>This element is used to contain sub-elements related to this transaction.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vendorsInvoiceNumber"/>
				<xs:element ref="FLSAcompliance"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hubAction">
		<xs:annotation>
			<xs:documentation>This element is used to contain ‘line level’ data elements.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="action"/>
				<xs:element ref="actionCode" minOccurs="0"/>
				<xs:element ref="merchantLineNumber"/>
				<xs:element ref="trxQty"/>
				<xs:element ref="CARBcertifierId" minOccurs="0"/>
				<xs:element ref="CARBformaldehydeComplianceCode" minOccurs="0"/>
				<xs:element ref="complianceAssertion" minOccurs="0"/>
				<xs:element ref="packageDetailLink" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="trxItemData" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="transactionItemID">
				<xs:annotation>
					<xs:documentation>Id for message line.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="packageDetail">
		<xs:annotation>
			<xs:documentation>This element is used to contain sub-elements that describe packages being reported as shipments.  This element is required to be provided when any part of an order is being shipped.  If only cancellations are included within this hubConfirm a packageDetail element is not required to be provided.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shipDate"/>
				<xs:element ref="serviceLevel1"/>
				<xs:element ref="trackingNumber"/>
				<xs:element ref="shippingWeight"/>
			</xs:sequence>
			<xs:attribute name="packageDetailID" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>This attribute contains a value that must uniquely identify the packageDetail element within the entire XML document.  This value will be referenced by the packageDetailLink elements within the message.  The value included here must begin with a letter and may be followed by additional letters, digits, hyphens, underscores, colons, and periods.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="partnerID">
		<xs:annotation>
			<xs:documentation>This element is used to contain the CommerceHub assigned ID for the party sending the message batch.  Contact CommerceHub to find out what to populate this element with.  Including invalid data within this element will result in a failure to process the message.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name">
						<xs:annotation>
							<xs:documentation>This attribute will contain the full company name for the party submitting the message batch.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="roleType">
						<xs:annotation>
							<xs:documentation>This attribute will contain a value that defines the role of the party submitting the message batch.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="vendor"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="trxItemData" >
											<xs:annotation>
												<xs:documentation>The trxItemData element is used to wrap less commonly used detail level elements  (e.g. supporting 'breakouts' of monetary amounts, expected date for backorders, ).</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="vendorWarehouseId" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ID of the vendor’s warehouse from which the product was shipped.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
	<xs:element name="messageCount">
		<xs:annotation>
			<xs:documentation>This element will contain a count of the hubConfirm elements that are contained within this ConfirmMessageBatch transaction.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="participatingParty">
		<xs:annotation>
			<xs:documentation>This element will contain the CommerceHub assigned ID for the party designated to receive this message batch.  Contact CommerceHub to find out what to populate this element with.  Including invalid data within this element will result in a failure to process the message.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name">
						<xs:annotation>
							<xs:documentation>This attribute will contain the name of the business party that is designated to receive this message batch.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="JC Penney"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="roleType">
						<xs:annotation>
							<xs:documentation>this attribute will contain a value that defines the role of the party receiving this message batch.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="merchant"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="participationCode">
						<xs:annotation>
							<xs:documentation>This attribute will contain an email type code that is used to describe the participation of the participatingParty within the fulfillment process.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="To:"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="partnerTrxID">
		<xs:annotation>
			<xs:documentation>This element is used to contain the sending party’s ID for this hubConfirm.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="partnerTrxDate">
		<xs:annotation>
			<xs:documentation>This element is used to contain the date of this hubConfirm as defined by the sending party.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="poNumber">
		<xs:annotation>
			<xs:documentation>This element is used to contain the purchase order number that this hubConfirm applies to.  It’s important to understand that not including a valid purchase order number in this element can result in a failure to process the message batch.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="trxShipping">
		<xs:annotation>
			<xs:documentation>This element will contain all shipping charges, exclusive of those that are reported at the hubAction level.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="trxBalanceDue">
		<xs:annotation>
			<xs:documentation>This element will contain the amount that the receiving party is being invoiced for.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vendorsInvoiceNumber">
		<xs:annotation>
			<xs:documentation>This element contains a supplier assigned reference number.  This value may be shown on merchant generated remittance and/or adjustments.  This element can be used to carry an invoice number reference if this value differs from the value contained in the partnerTrxID.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FLSAcompliance">
		<xs:annotation>
			<xs:documentation>A value of ‘Y’ in this element indicates that the message author certifies that they are in compliance with the Fair Labor Standards Act.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="action">
		<xs:annotation>
			<xs:documentation>This element is used to contain a value that describes the action being taken on the line/quantity included.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="v_ship"/>
				<xs:enumeration value="v_cancel"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="actionCode">
		<xs:annotation>
			<xs:documentation>This element should only be provided when the action element contains a value of ‘v_cancel’.  It will contain a code that defines the explanation for the cancellation.  Contact CommerceHub for a complete list of codes to use in this element.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="merchantLineNumber">
		<xs:annotation>
			<xs:documentation>This element will contain the purchase order line item number as assigned by the merchant.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="trxQty">
		<xs:annotation>
			<xs:documentation>This element is used to contain the quantity for the specified action that is being taken.  This value is subject to validation to ensure that the cumulative count of fulfillment actions is not in excess of the quantity that is authorized under the purchase order.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CARBcertifierId">
		<xs:annotation>
			<xs:documentation>This element is used to contain the ID of a party certified by the California Air Resources Board (CARB) to assess products for compliance with California laws regulating emissions from wood products.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CARBformaldehydeComplianceCode">
		<xs:annotation>
			<xs:documentation>This element is used to contain a numeric code indicating the compliance level for the product according to standards set by CARB.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="packageDetailLink">
		<xs:annotation>
			<xs:documentation>This element is used to contain an attribute which is used to link to one of the packageDetail elements that come later in the message.  This element is only required to be provided when there is an action of ‘v_ship’.  This structure allows both ‘overboxing’ and ‘multi-package’ situations to be reported.  With ‘overboxing’, multiple hubAction elements can be linked to a common package.  With ‘multi-package’ distinct packageDetailLink elements are used within a single hubAction element to link to the multiple packages.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="packageDetailID" type="xs:IDREF">
						<xs:annotation>
							<xs:documentation>The value of this IDREF attribute must match the ID value in one of the packageDetail elements at the end of the message.  The value must begin with a letter and may be followed by any number of letters, digits, hyphens, underscores, colons, and periods</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="shipDate">
		<xs:annotation>
			<xs:documentation>This element contains the date the shipment commenced.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="shippingWeight">
		<xs:annotation>
			<xs:documentation>This element contains the weight of the shipment.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="weightUnit" use="required">
						<xs:annotation>
							<xs:documentation>This attribute contains the unit of measure for the shippingWeight.  Must be uppercase.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="LB"/>
								<xs:enumeration value="OZ"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="serviceLevel1">
		<xs:annotation>
			<xs:documentation>This element contains a carrier and service level specific code.  Contact CommerceHub to obtain a complete list of codes that apply to this element.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="trackingNumber">
		<xs:annotation>
			<xs:documentation>This element contains the delivery agent’s tracking number for this package.JCPenney requires all invoice numbers are unique, numeric and are not greater than seven digits. IMPORTANT NOTE: CommerceHub enforces validation rules for UPS and FEDEX tracking numbers including check digit routines when applicable.  Please insure that all tracking numbers you submit    are correctly formatted.  Any shipment confirmation message containing invalid tracking numbers will be rejected.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="complianceAssertion">
		<xs:annotation>
			<xs:documentation>This element is used to report the compliance that pertains to your product.  Example text:  "PRODUCT MEETS JCP JEWELRY,KP DIAMOND,BURMA RUBY-JADEITE, IR GEM REQUIREMENTS</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
