jobs/src/test/resources/HubXML JCPenney Inventory.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Jim Janczykowski (COMMERCE TECHNOLOGIES) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="advice_file">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="advice_file_control_number"/>
				<xs:element ref="vendorMerchID"/>
				<xs:element ref="product" maxOccurs="unbounded"/>
				<xs:element ref="advice_file_count"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="product">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vendor_SKU"/>
				<xs:element ref="qtyonhand"/>
				<xs:element ref="available"/>
				<xs:element ref="description"/>
				<xs:element ref="discontinued_date" minOccurs="0"/>
				<xs:element ref="merchantSKU" minOccurs="0"/>
				<xs:element ref="warehouseBreakout" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="advice_file_control_number">
		<xs:annotation>
			<xs:documentation>This element contains a control number that is assigned to the file and used for identification purposes.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="advice_file_count">
		<xs:annotation>
			<xs:documentation>This element will contain a count of the product elements included within this file.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vendor_SKU">
		<xs:annotation>
			<xs:documentation>This element will contain the supplier assigned SKU for the product being reported.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="qtyonhand">
		<xs:annotation>
			<xs:documentation>This element will contain the quantity of the product that applies to the associated available status.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="available">
		<xs:annotation>
			<xs:documentation>This element contains a specified value used to define the availability of the product being reported to the merchant.  'Yes' - indicates that the specified quantity of the product is available for sale by the merchant.  'No' - indicates that the specified quantity of the product is currently not available to the merchant.  This status is commonly used when a product is temporarily unavailable for a period of time.  'Guaranteed' - indicates that the quantity associated with the product is not a factor in fulfillment.  The merchant can consider the SKU to be unlimited.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Yes"/>
				<xs:enumeration value="No"/>
				<xs:enumeration value="Guaranteed"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="description">
		<xs:annotation>
			<xs:documentation>This element will contain a short text description for the product being reported.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="discontinued_date">
		<xs:annotation>
			<xs:documentation>This element will contain the date that fulfillment for this product will cease.  This date can be reported with an available quantity.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="merchantSKU">
		<xs:annotation>
			<xs:documentation>This element will contain the merchant assigned SKU for the product being reported.The merchant sku must be 11 characters in length.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="warehouseBreakout">
		<xs:annotation>
			<xs:documentation>Use to provide warehouse specific breakout of the aggregate counts in qtyonhand and next_available_qty</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="warehouse" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="qtyonhand" type="xs:string">
								<xs:annotation>
									<xs:documentation>Quantity at this warehouse</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="next_available" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Details about next shipement scheduled for this warehouse.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
								<xs:attribute name="date" type="xs:string">
										<xs:annotation>
											<xs:documentation>CCYYMMDD format.  Date next shipment expected to be received into inventory.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="quantity" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>Quantity expected to be received with next shipment. </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="warehouse-id" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Warehouse with this ID must be registered with CommerceHub and approved by the merchant before inventory can be reported. This tag will be required for suppliers who have multiple warehouses. It will not be required for single warehouse suppliers</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vendorMerchID">
		<xs:annotation>
			<xs:documentation>This element contains the CommerceHub assigned ID for the merchant that this product is being reported to.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="jcpenney"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
