jobs/src/test/resources/HubXML JCPenney Return Notification.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by Kevin Liddiard (CommerceHub) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="ReturnMessageBatch">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="partnerID"/>
				<xs:element ref="hubReturn" maxOccurs="unbounded"/>
				<xs:element ref="messageCount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hubReturn">
		<xs:annotation>
			<xs:documentation>This element is used to wrap the details of each Return Notification message.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="participatingParty"/>
				<xs:element ref="partnerTrxID"/>
				<xs:element ref="partnerTrxDate"/>
				<xs:element ref="poNumber"/>
				<xs:element ref="hubAction" maxOccurs="unbounded"/>
				<xs:element ref="returnDetail" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hubAction">
		<xs:annotation>
			<xs:documentation>This element is used to contain sub-elements that make up the details of the return.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="action"/>
				<xs:element ref="actionCode"/>
				<xs:element ref="merchantLineNumber"/>
				<xs:element ref="trxQty"/>
				<xs:element ref="returnDetailLink" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="returnDetail">
		<xs:annotation>
			<xs:documentation>This element is used to contain additional details about the return.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="returnDate"/>
			</xs:sequence>
			<xs:attribute name="returnDetailID" type="xs:ID">
				<xs:annotation>
					<xs:documentation>This attribute will be referenced by a returnDetailLink element(s) to associate this element with message line(s). Must begin with a letter and may be followed by any number of letters, digits, hyphens, underscores, colons, and periods.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="partnerID">
		<xs:annotation>
			<xs:documentation>This element will contain the CommerceHub assigned ID for the party sending this batch of messages.  Contact CommerceHub to find out what value you should be including in this element.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name">
						<xs:annotation>
							<xs:documentation>This attribute will contain the full company name for the party submitting the message batch.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="roleType">
						<xs:annotation>
							<xs:documentation>This attribute will contain a value that defines the role of the party submitting the message batch.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="vendor"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="messageCount">
		<xs:annotation>
			<xs:documentation>The messageCount element will contain a count of hubReturn elements included in the ReturnMessageBatch</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="participatingParty">
		<xs:annotation>
			<xs:documentation>This element is used to contain a value that identifies the party that this ReturnMessageBatch is directed to.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name">
						<xs:annotation>
							<xs:documentation>This attribute will contain the name of the business party that is designated to receive this message batch.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="JC Penney"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="roleType">
						<xs:annotation>
							<xs:documentation>this attribute will contain a value that defines the role of the party receiving this message batch.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="merchant"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="participationCode">
						<xs:annotation>
							<xs:documentation>This attribute will contain an email type code that is used to describe the participation of the participatingParty within the fulfillment process.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="To:"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="partnerTrxID">
		<xs:annotation>
			<xs:documentation>This element will contain the message authoring party’s ID for this transaction.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="partnerTrxDate">
		<xs:annotation>
			<xs:documentation>This element will contain the date of this transaction according to message author.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="poNumber">
		<xs:annotation>
			<xs:documentation>This element will contain the merchant assigned PO number.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="action">
		<xs:annotation>
			<xs:documentation>This element will always contain a value of 'v_return'</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="v_return"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="actionCode">
		<xs:annotation>
			<xs:documentation>This element will contain a code providing explanation / reason for action.  Contact CommerceHub for a complete list of codes that apply to this element.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="merchantLineNumber">
		<xs:annotation>
			<xs:documentation>This element will contain the purchase order line item number as assigned by the merchant.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="trxQty">
		<xs:annotation>
			<xs:documentation>This element will contain the quantity for the specified action.  The quantity is subject to validation to make sure that the cumulative count of fulfillment actions is not in excess of the quantity that is authorized under the Purchase Order.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="returnDetailLink">
		<xs:annotation>
			<xs:documentation>This element is used to contain an attribute that assoicates a return detail element to an associated message line.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="returnDetailID" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>This attribute contains the ID of the returnDetail element associated with this message line.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="returnDate">
		<xs:annotation>
			<xs:documentation>This element is used to contain the date product was received by vendor.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
