wms/src/com/owd/alittlePlaying/LyftProjectThings/lookup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lookup" type="lookupType"/>
  <xs:complexType name="lookupType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="address1"/>
      <xs:element type="xs:string" name="address2"/>
      <xs:element type="xs:string" name="city"/>
      <xs:element type="xs:string" name="state"/>
      <xs:element type="xs:string" name="zip"/>
      <xs:element type="xs:string" name="orderId"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>